
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30vw;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 2px;
}

.game-over {
    max-width: 600px;
    margin: 0 auto;
    gap: 15px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: default;
}

.gameboard {
    display: grid;
    gap: 0; /* Žádný mezera mezi buòkami */
    border: 2px solid black; /* Okraj kolem celé møížky */
    margin: 10px auto;
    width: 30vw;
    aspect-ratio: 1 / 1;
    min-width: 300px;
    max-width: 600px;
}

/* Základní buòka - velikost a møížka */
.cell {
    border: 1px solid black;
    box-sizing: border-box;
}

/* --- BARVY --- */

.empty {
    background-color: #ffffff;
}

.snake-body {
    background-color: #4CAF50; /* Zelená */
    border-radius: 2px;
}

.snake-head {
    background-color: #2E7D32; /* Tmavší zelená */
    border-radius: 4px;
}

.food {
    background-color: #F44336; /* Èervená */
}

.food-bonus {
    background-color: #FFD700; /* Zlatá */
}

.wall {
    background-color: #424242; /* Tmavì šedá */
}

/* BRÁNA */
.gate-closed {
    background-color: #9E9E9E; /* Šedá (vypadá jako zeï) */
}

.gate-open {
    background-color: #00BFFF; /* Svìtle modrá */
    box-shadow: 0 0 10px #00BFFF; /* "Záøe" */
}

.d-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sloupce */
    grid-template-rows: repeat(3, 1fr); /* 2 øádky */

    gap: 5px;
    justify-content: center; /* Vycentrovat pod hrou */
    margin: 20px auto;
    width: 200px;
    max-width: 15vw;
    min-width: 150px;
    aspect-ratio: 1 / 1;
}

    .d-pad button {
        background-color: #444;
        color: white;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .d-pad button:active {
            background-color: #666; /* Zmìna barvy pøi stisku */
        }

.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    background-color: white;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 2px solid #333;
    text-align: center;
}

td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: #555;
    text-align: center;
}

/* Každý sudý øádek bude mít šedé pozadí */
tr:nth-child(even) {
    background-color: #fafafa;
}
