
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30vw;
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 2px;
}

.gameboard {
    display: grid;
    gap: 0; /* Žádný mezera mezi buòkami */
    border: 2px solid black; /* Okraj kolem celé møížky */
    margin: 10px auto;
    width: 30vw;
    aspect-ratio: 1 / 1;
    min-width: 300px;
    max-width: 600px;
}

/* Základní buòka - velikost a møížka */
.cell {
    border: 1px solid black;
    box-sizing: border-box;
}

/* --- BARVY --- */

.empty {
    background-color: #ffffff;
}

.snake-body {
    background-color: #4CAF50; /* Zelená */
    border-radius: 2px;
}

.snake-head {
    background-color: #2E7D32; /* Tmavší zelená */
    border-radius: 4px;
}

.d-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sloupce */
    grid-template-rows: repeat(3, 1fr); /* 2 øádky */

    gap: 5px;
    justify-content: center; /* Vycentrovat pod hrou */
    margin: 20px auto;
    width: 200px;
    max-width: 15vw;
    min-width: 150px;
    aspect-ratio: 1 / 1;
}

    .d-pad button {
        background-color: #444;
        color: white;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .d-pad button:active {
            background-color: #666; /* Zmìna barvy pøi stisku */
        }
