@using BPSnake.Configuration;


<div class="game-container game-over">
    <h2>Game Over!</h2>
    <button type="button" class="btn btn-success" @onclick="OnStartNewGame">Začít novou hru</button>

    <div>
        <div>
            <p><strong>Finální score: @Score</strong></p>
            <p><strong>Úspěšně dokončeno levelů: @TotalLevelsCompleted</strong></p>
            <p><strong>Zemřel jsi na levelu @CurrentLevel</strong></p>
        </div>
    </div>
</div>


@code {
    [Parameter] public int Score { get; set; }
    [Parameter] public int CurrentLevel { get; set; }
    [Parameter] public int TotalLevelsCompleted { get; set; }

    // Akce
    [Parameter] public EventCallback OnStartNewGame { get; set; }
}
