@using BPSnake.Models;
@using BPSnake.Models.GameCore;
@inject IGameEngine Engine
@implements IDisposable

<div class="game-container">
    @* tabindex="0" a @ref jsou nezbytné pro zachycení klávesnice *@
    <div class="gameboard" style="grid-template-columns: repeat(@Engine.CurrentGameBoard.Width, 1fr); grid-template-rows: repeat(@Engine.CurrentGameBoard.Height, 1fr);" tabindex="0" @ref="_boardElement">
        @for (int y = 0; y < Engine.CurrentGameBoard.Height; y++) {
            @for (int x = 0; x < Engine.CurrentGameBoard.Width; x++) {
                <div class="@Engine.GetCellCssClass(x, y)"></div>
            }
        }
    </div>
</div>

@code{
    private ElementReference _boardElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) {
            // Automatický focus pro okamžité ovládání z klávesnice bez klikání myší
            await _boardElement.FocusAsync();
        }
    }

    protected override void OnInitialized()
    {
        Engine.OnStateChangedAsync += RefreshUIAsync;
    }

    private Task RefreshUIAsync() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        if (Engine != null) {
            Engine.OnStateChangedAsync -= RefreshUIAsync;
        }
    }
}