@using BPSnake.Models;

<div class="game-container">
    <div class="gameboard" style="grid-template-columns: repeat(@Width, 1fr); grid-template-rows: repeat(@Height, 1fr);" tabindex="0" @onkeydown="HandleInput" @ref="_boardElement">
        @for (int y = 0; y < Height; y++) {
            @for (int x = 0; x < Width; x++) {
                <div class="@CellClass(x, y)"></div>
            }
        }
    </div>
</div>

@code{
    [Parameter] public int Width { get; set; }
    [Parameter] public int Height { get; set; }
    [Parameter] public GameState CurrentGameState { get; set; }

    // Předání metody pro získání CSS třídy buňky
    [Parameter] public required Func<int, int, string> CellClass { get; set; }

    private ElementReference _boardElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) {
            await _boardElement.FocusAsync();
        }
    }
}