@using BPSnake.Models;
@using BPSnake.Models.GameCore;
@inject IGameEngine Engine

<div class="d-pad">
    <div></div>
    <button @ontouchstart="() => Engine.ChangeDirection(Direction.Up)">&#8593;</button>
    <div></div>
    <button @ontouchstart="() => Engine.ChangeDirection(Direction.Left)">&#8592;</button>
    <button @ontouchstart="() => Engine.ChangeDirection(Direction.Down)">&#8595;</button>
    <button @ontouchstart="() => Engine.ChangeDirection(Direction.Right)">&#8594;</button>
</div>

@code {
}